.wrapper {
  /* font-family: Arial, Helvetica; */
  background: url(/Media/slider2.webp);
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  @apply w-full h-[100vh] flex flex-col justify-center items-center;
}

.wrapper h1 {
  @apply border-b w-[15vw] cursor-pointer pb-2;
}

.base {
  @apply my-10;
}
