.wrapper {
  /* font-family: Arial, Helvetica; */
  background: url(/Media/slider1.webp);
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  @apply lg:w-full w-full h-[100vh] text-[#fcf6ec] flex flex-col justify-center items-center;
}

.main {
  @apply w-[35rem] lg:text-6xl text-4xl font-bold flex flex-col lg:ml-0 ml-[15rem];
}

.pizza {
  @apply lg:w-[18rem] w-[10rem] lg:h-[6rem] h-[3rem] bg-[#242424] flex justify-center items-center rounded-lg lg:text-7xl text-3xl;
}

.pizza h1 {
  @apply font-bold text-[#fab940];
}
