.wrapper {
  background: url(/Media/slider3.webp);
  background-position: 100% 100%;
  background-size: cover;
  @apply w-full h-[100vh] text-black flex flex-col justify-center items-center text-center;
}

.mainSection {
  @apply lg:w-[45vw] w-[83vw] lg:h-[max-content] h-[70%] bg-[#fdf6eb] flex flex-col justify-center items-center text-center py-10;
}
