.wrapper {
  background: url(/Media/slider3.webp);
  background-position: 100% 100%;
  background-size: cover;
  @apply w-full h-[100vh] text-black flex flex-col justify-center items-center text-center;
}

.mainSection {
  @apply w-[45vw] h-[max-content] bg-[#fdf6eb] flex flex-col justify-center items-center text-center py-10 px-10 gap-y-2;
}
